<div #box class="resizable-draggable"
     [style.width.px]="elementRect.width"
     [style.height.px]="elementRect.height"
     [style.transform]="'translate3d('+ elementRect.left + 'px,' + elementRect.top + 'px,' + '0px)'"
     [class.active]="status === 1 || status === 2"
     (mousedown)="setStatus($event, 2)"
     (window:mouseup)="setStatus($event, 0)"
>
  <ng-content [style.width]="'100%'"></ng-content>

  <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
  <span>{{elementRect.width | number:'1.0-0'}}px</span>
  <span>{{elementRect.height | number:'1.0-0'}}px</span>
  <span>({{elementRect.left}}, {{elementRect.top}})</span>
</div>
