<div *ngIf="resizableElement" #resizableElementRef class="resizable-draggable"
     [style.width.px]="resizableElement.width"
     [style.height.px]="resizableElement.height"
     [style.transform]="'translate3d('+ resizableElement.left + 'px,' + resizableElement.top + 'px,' + '0px)'"
     [class.active]="status === 1 || status === 2"
     (mousedown)="setStatus($event, 2)"
     (window:mouseup)="setStatus($event, 0)"
>
  <mat-card class="card">
    <ng-content [style.width]="'100%'"></ng-content>
    {{cellHeight}}
  </mat-card>


  <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
</div>
