<div class="grid" [style.grid-template-columns]="templateColumns">
  <div *ngFor="let el of groupArea; let i = index" class="cell" [style.grid-area]="el">
    <app-resizable-element
      (resizeEmitter)="changeSize($event, i)"
      (dropEmitter)="drop($event, i)"
      (dragEmitter)="drag($event, i)"
      [cellSize]="templateColumns">
      <mat-form-field [style.width]="'100%'">
        <input matInput
               placeholder="Przykładowy input">
      </mat-form-field>
    </app-resizable-element>
  </div>
  <div *ngIf="isDragging" [style.grid-area]="dragShadeArea" class="shadow">
    <div [style.width.px]="shadowWidth"
         [style.height.px]="50"></div>
  </div>
</div>

