<h1 class="header">{{item.name}}</h1>
<div class="grid"
     [style.grid-template-columns]="templateColumns"
     [style.grid-template-rows]="templateRows">
  <div *ngFor="let element of groupArea; let i = index" [style.grid-area]="element" class="cell">
    <app-resizable-element
      (resizeEmitter)="setElementSize($event, i)"
      (dropEmitter)="drop($event, i)"
      (dragEmitter)="drag($event, i)"
      [templateColumns]="templateColumns"
      [cellWidth]="gridCellWidth"
      [cellHeight]="gridCellHeight">
      <mat-form-field [style.width]="'100%'">
        <input matInput
               placeholder="Przykładowy input"
               type="textarea">
      </mat-form-field>
    </app-resizable-element>
  </div>

  <div *ngIf="isDragActive" [style.grid-area]="dragShadeArea" class="shadow">
    <div [style.width.px]="shadowWidth"
         [style.height.px]="100"></div>
  </div>
</div>

